.navbar {
    position: sticky;
    top: 0;
    height: 75px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: -70px;
    z-index: 2;
}

.logo {
    color: #fff;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-link-list {
    display: flex;
}

.navbar-link {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: .25s
}

.navbar-link:hover {
    border-color: #fff;
    transition: .25s
}

.navbar-hamburger {
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 760px){
    .navbar-link-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        transform: scale(1, 0);
        transform-origin: top;
        background-color: rgba(22, 22, 22, .95);
        transition: all .7s ease-in-out;
    }

    .navbar-link-list-active{
        transform: scale(1, 1);
    }

    .navbar-link{
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: .3s;
        border-width: 0;
    }

    .navbar-link-list-active .navbar-link:nth-child(n+1) {
        opacity: 1;
    }

    .navbar-hamburger {
        display: block
    }
}