.segment-container, .segment-container-flipped{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transform: scale(.85);
    opacity: 0;
    transition: opacity .3s ease-in-out, transform .4s ease-in-out;
}

.segment-container-flipped {
    flex-direction: row-reverse;
}

.visible {
    transform: scale(1);
    opacity: 1;
    transition: opacity .3s ease-in-out, transform .4s ease-in-out;
}

.img-container{
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
}

.segment-container-flipped .img-container {
    justify-content: flex-start;
}

.image  {
    height: 100%;
    width: 400px;
    border-radius: 50%;
    border: 3px solid var(--green-background);
    background-size:  100%;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 20%;
    background-color: var(--green-background)
}

.segment-container-flipped .image  {
    background-size: cover;
    background-position: center;
}



.segment-text-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    background-color: var(--green-background); 
    padding: 40px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 1.2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    transition: background-color .7s;
}

h1 {
    letter-spacing: .2em;
}

p {
    max-width: 60ch;
    line-height: 1.7em;
}

.btn {
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    color: var(--dark-green-background);
    background-color: var(--light-background);
    transition: transform .5s ease-in-out, background-color .7s, color .7s;
}

.btn:hover {
    transform: scale(1.05)
}

/* Dark mode styling */

.dark .image {
    border-color:var(--dark-green-background);
    background-color:rgb(38, 38, 38)
}

.dark .text-container {
    background-color: var(--dark-green-background);
    transition: background-color .7s;
}

.dark .btn {
    background-color: rgba(239, 239, 239, .2);
    color: var(--light-background);
    transition: background-color .7s, color .7s;
}


@media (max-width: 760px) {
    .segment-container, .segment-container-flipped {
        width: 100%;
        flex-direction: column;
    }

    .img-container, .segment-container-flipped .img-container{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .image {
        border: 3px solid var(--green-background);
        height: 200px;
        width: 200px;
        aspect-ratio: 1 / 1;
        background-size: 140% 200%;
    }

    .segment-text-container {
        width: 90%;
    }
}